/* .test {
    height: 300px;
    width: 300px;
    background-color: coral;
    border: 3px solid red;
    left: 300px;
    position: relative;
} */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.promo{
    height: 800px;
    background: url(main_bg.jpg) center center/cover;
}

.test {
    height: 300px;
    width: 300px;
    background-color: red;
    border: 3px solid black;
    margin: 10px;

}

.test__main {
    display: flex;
    border: 3px solid black;
    justify-content: space-between;
    align-items: stretch
} */


